@{
    Layout = "_Layout";
}

@model IEnumerable<Admin.Contract.Model.Teacher.TeacherDetails>
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <h1 class="page-title fw-semibold fs-18 mb-0">Students List</h1>
    <div class="ms-md-1 ms-0">
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Teachers</a></li>
                <li class="breadcrumb-item active" aria-current="page">Teachers List</li>
            </ol>
        </nav>
    </div>
</div>


<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <a asp-area="" asp-controller="Teacher" asp-action="Addteacher" class="btn btn-primary label-btn">
                    <i class="ri-user-add-line label-btn-icon me-2"></i>
                    Add Teacher
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-nowrap" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Created On</th>
                                <th scope="col">Number</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.Gender == "1")
                                    {
                                        <td scope="row">
                                            <div class="d-flex align-items-center">
                                                <span class="avatar avatar-xs me-2 online avatar-rounded">
                                                    <img src="../../assets/images/faces/15.jpg" alt="img">
                                                </span>@(item.TeacherFName +" "+item.TeacherLName)
                                            </div>
                                        </td>
                                    }
                                    else if (item.Gender == "2")
                                    {
                                        <td scope="row">
                                            <div class="d-flex align-items-center">
                                                <span class="avatar avatar-xs me-2 offline avatar-rounded">
                                                    <img src="../../assets/images/faces/6.jpg" alt="img">
                                                </span>@(item.TeacherFName + " " + item.TeacherLName)
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td scope="row">
                                        </td>
                                    }

                                    @*  <th scope="row">@item.StudentName</th> *@
                                    <td>@item.CreatedDate</td>
                                    <td>@item.TeacherPhone</td>
                                    <td><span class="badge bg-success-transparent">Active</span></td>
                                </tr>
                            }
                          
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
   
</div>
<script>

    $(document).ready(function () {
        $('#myTable').DataTable();
       
    });

</script>